In [1]:
import spacy
import nltk
nlp = spacy.load("en_core_web_sm")

# Named Entity Recognition

Excersie: 1
Extract all the Geographical (cities, Countries, states) names from a given text

Expected Output:

Geographical location Names: [India, Delhi, Gujarat, Tamilnadu, Andhrapradesh, Assam, Bihar]

In [21]:
text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc = nlp(text)

In [22]:
l = []
for ent in doc.ents:
  if ent.label_ == "GPE":
    l.append(ent)
l,len(l)

([India, Delhi, Gujarat, Tamilnadu, Pongal, Andhrapradesh, Assam, Bihar], 8)


Excersie: 2
Extract all the birth dates of cricketers in the given Text

In [10]:
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

doc = nlp(text)

In [19]:
li = []
for e in doc.ents:
  if e.label_ == "DATE":
    li.append(e)
li,len(li)

([24 April 1973, 5 November 1988, 7 July 1981, 19 December 1974], 4)

# Part of speech

Exercise for Spacy POS tutorial,

You are parsing a news story from cnbc.com. News story is stores in news_story.txt which is available in this same folder on github. You need to,
Extract all NOUN tokens from this story. You will have to read the file in python first to collect all the text and then extract NOUNs in a python list
Extract all numbers (NUM POS type) in a python list
Print a count of all POS tags in this story

In [32]:
with open('/content/news_story.txt', 'r') as f:
    text = f.read()

nouns = []
nums = []
doc = nlp(text)
for token in doc:
  if token.pos_ == "NOUN":
    nouns.append(token)
  elif token.pos_ == "NUM":
    nums.append(token)
len(nouns),len(nums)

(96, 19)

Print a count of all POS tags

In [33]:
count = doc.count_by(spacy.attrs.POS)
count

{92: 96,
 100: 27,
 86: 15,
 85: 39,
 96: 16,
 97: 32,
 90: 34,
 95: 4,
 87: 13,
 89: 10,
 84: 23,
 103: 7,
 93: 19,
 94: 4,
 98: 8,
 101: 1}

In [37]:
for k,v in count.items():
  print(doc.vocab[k].text,v,sep="|")

NOUN|96
VERB|27
ADV|15
ADP|39
PROPN|16
PUNCT|32
DET|34
PRON|4
AUX|13
CCONJ|10
ADJ|23
SPACE|7
NUM|19
PART|4
SCONJ|8
X|1